@charset "UTF-8";
/* reset */
body, h1, ul, li {
  margin: 0;
}
body{
  background: #f5f8f9;
}
.wrapper {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 4%;
}
.logo{
  font-size: 25pt;
  
}

/*------headere-------*/
#main{
  
  padding: 1%;
  
  margin-top: 1px;

  }


* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}




/* NavBar */
nav {
  background: #eee;
  box-shadow: 0px 1px 3px #00000088;
  border-radius: 11px;
}
nav::after {
  content: "";
  display: block;
  clear: both;
}
nav h1 {
  float: left;
  padding-left: 50px;
  line-height: 50px;
}

/* 隱藏 checkbox */
input {
  display: none;
}

/* 漢堡按鈕 */
label {
  float: right;
  padding-right: 10px;
  line-height: 10px;
  cursor: pointer;
}
label img {
  width: 60px;
  margin: 0 auto;
  vertical-align: middle;
}

/* menu*/
.menu {
  clear: both;
  background: #fff;
  
}
.menu li {
  text-align: center;
  border-bottom: 1px solid #efefef;
  
  
  
}
.menu li a {
  display: block;
  line-height: 50px;
  font-size: 25px;
  color: #5d5d5d;
  padding: 15px;
}
.menu li a:hover {
  background: #5d5d5d;
  color: #fff;
}

/* 下拉選單效果 */
.menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.1s;
  /* 動畫秒數 */
}

input:checked ~ .menu {
  max-height: 800px ;
}


/* mediaquery */
@media screen and (min-width: 1000px) {
  #main{
    display: inline;
    float: left;
    width: 52.307692307692314%;
    margin: 0 0.769230769230769%;
  }
  label {
    
    display: none;
  }
  .menu {
    float: right;
    clear: none;
    max-height: 50px;
    background: #eee;
  }
  .menu li {
    display: inline-block;
    margin: 10px;
    
    
  }
  .menu li a {
    padding: 0 10px;
   
   
     
  }

  

}
    


